body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    color: #6d5826;
    text-align: center;
    }

.container {
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: 100vh;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #a4895e;
}

h1 {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: #a4895e;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #c2b59b;
    border-radius: 5px;
    background-color: #f5f3ed;
    color: #6d5826;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #a4895e;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #8a6f47;
}

a {
    color: #a4895e;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

header{
    background-color: darkolivegreen;
}

.nav-bar{
    display: flex;
}

.nav-bar ul{
    display: flex;
    list-style-type: none;
    gap: 15px;
}

footer{
    background-color: darkolivegreen;
}

.copyright{
    margin: 0;
}